
.my-page {
  margin-top: 20px;
}

.user-info-section {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 5px;
  margin-bottom: 30px;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

.nav-pills .nav-link {
  border-radius: 0.25rem;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #007bff;
}

.tab-content > .tab-pane {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
}
